.email-newsletter__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  color: $white;
  background-color: $orange;
}

.email-newsletter__title {
  @include reset-text;
  font-family: 'Marker Felt-Wide';
  font-size: 30px;
  text-shadow: 1px 2px 0 #421d4b;

  @media (min-width: $desktop) {
    font-size: 72px;
  }
}

.email-newsletter__text {
  @include reset-text;
  font-size: 14px;
  text-align: center;

  @media (min-width: $desktop) {
    width: 730px;
    font-size: 20px;
  }
}