@font-face {
  font-family: 'Marker Felt-Wide';
  src: url('../fonts/MarkerFelt-Wide.woff2'),
    url('../fonts/MarkerFelt-Wide.woff'),
    url('../fonts/MarkerFelt-Wide.ttf');
  font-style: normal;
  font-weight: 400;
};

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeueBold.woff2'),
    url('../fonts/BebasNeueBold.woff'),
    url('../fonts/BebasNeueBold.ttf');
  font-style: normal;
  font-weight: 400;
};

@font-face {
  font-family: 'DIN Condensed';
  src: url('../fonts/DINPro-CondensedRegular.woff2'),
    url('../fonts/DINPro-CondensedRegular.woff'),
    url('../fonts/DINPro-CondensedRegular.ttf');
  font-style: normal;
  font-weight: 400;
}