.footer__wrapper {
  padding: 20px;
}

.footer__action-dates-text {
  @include reset-text;
  font-size: 14px;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 16px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 6px;
    font-size: 24px;
  }
}

.footer__action-dates {
  color: $red;
}

.footer__action-terms {
  @include reset-text;
  font-size: 10px;
  font-family: 'DIN Condensed';
  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 12px;
  }

  @media (min-width: $desktop) {
    font-size: 14px;
  }
}

.footer__action-terms-title {
  @include reset-text;
}

.footer__action-terms-text {
  @include reset-text;
}