.input-text {
  padding: 9px;
  background-color: transparent;
  border: 1px solid $white;
  color: $white;

  &::placeholder {
    color: $white;
    font-family: 'DIN Condensed';
  }

  @media (min-width: $desktop) {
    padding: 13px 20px 15px;
    font-size: 24px;
  }
}