.checkbox {
  position: absolute;
}

.checkbox + .form-test__answer-text::before {
  content: '';
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  top: -2px;
  left: -2px;
  border: 2px solid #e5e5e5;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet) {
    width: 20px;
    height: 20px;
  }

  @media (min-width: $desktop) {
    width: 29px;
    height: 29px;
    left: 1px;
  }
}

.checkbox + .form-test__answer-text:hover::before,
.checkbox:focus+.form-test__answer-text::before {
  border-color: $white;
}

.checkbox + .form-test__answer-text:active::before {
  border-color: $white;
}

.checkbox:checked + .form-test__answer-text::before {
  content: '';
  position: absolute;
  display: block;
  background-image: url('../../images/icon-yes.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;

  &:hover::before {
    border-color: black;
  }
}