@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  @mixin reset-text {
    margin: 0;
    padding: 0;
  }
  
  @mixin reset-button {
    padding: 0;
    border: none;
    background-color: transparent;
  }
    